@media (max-width: 768px) {
	html{
		font-size: 15px !important;
	}
}

body{
	height: 100% !important;
	.outter-all{
		min-height: 100% !important;
	}
}

html{
	height: 100% !important;
	font-size: 18px;
}