$github-color:#211f1f;
$linkedin-color:#0e76a8;
$gmail-color:#d44638;

@media (min-width: 768px) {
}
@media (min-width: 992px) {
    #about-me {
        margin-bottom: 0 !important;
    }

    .home-get-in-touch-border {
        border-left: 1px solid #dee2e6 !important;
        border-top: 0 !important;
    }
}

#about-me {
    margin-bottom: 40px !important;
    .home-pp {
        display: none;
    }
}

.home-get-in-touch-border {
    border-left: 0;
    border-top: 1px solid #dee2e6;
}

.social-media-button { 
    width: 100%;
    &:focus{
        box-shadow: none  !important;
    }
    &.linkedin {
        a {
            color:$linkedin-color  !important;
        }
        border-color: $linkedin-color;
        border-radius: 0;
        &:hover {
            background-color: $linkedin-color;
            a {
                color: white !important;
            }
        }
    }
    &.github {
        a {
            color: $github-color !important;
        }
        border-color: $github-color;
        border-radius: 0;
        &:hover {
            background-color: $github-color;
            a {
                color: white !important;
            }
        }
    }
    &.gmail {
        a {
            color: $gmail-color !important;
        }
        border-color: $gmail-color;
        border-radius: 0;
        &:hover {
            background-color: $gmail-color;
            a {
                color: white !important;
            }
        }
    }
}
