@media (min-width:768px) {
    .home-pp{
        width: 200px;
        display: inline-block !important;
    }
}
@media (min-width:992px) {
    #about-me{
        margin-bottom: 0 !important;
        .home-pp{
            width: 300px;
        }
    }
}

#about-me{
    margin-bottom: 40px !important;
    .home-pp{
        display: none;
    }
}