@media (min-width: 768px) {
    .project-card {
        flex: 0 0 auto;
        width: 30% !important;

        .project-img {
            border-top-left-radius: 3px !important;
            border-bottom-left-radius: 0 !important;
            border-top-right-radius: 3px !important;
            border-bottom-right-radius: 0 !important;
        }
    }
}

.project-card {
    width: 100%;

    .project-img-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: white;
        opacity: 0;
    }

    .project-img {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        &:hover {
            .project-img-overlay {
                opacity: 0.4 !important;
                transition: opacity 0.3s;
            }
        }
    }
}