@media (min-width: 768px) {
    .project-card {

        .project-img {
            border-top-left-radius: 3px !important;
            border-bottom-left-radius: 0 !important;
            border-top-right-radius: 3px !important;
            border-bottom-right-radius: 0 !important;
        }
    }
}

@media (min-width: 1200px) {
    .project-card {
        flex: 0 0 auto;
        width: 30% !important;

        .project-img {
            border-top-left-radius: 3px !important;
            border-bottom-left-radius: 0 !important;
            border-top-right-radius: 3px !important;
            border-bottom-right-radius: 0 !important;
        }
    }
}

.projects{
    width: 100vw;
    display: flex;
    justify-content: center;
    .projects-inner{
        a{
            margin-right: 10px;
            margin-left: 10px;
            height: fit-content;
        }
    }
}

.project-card {
    width: 100%;

    .project-img-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: white;
        opacity: 0;
    }

    .project-img {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &:hover {
        .project-img-overlay {
            opacity: 0.4 !important;
            transition: opacity 0.3s;
        }
    }
}