@media (min-width: 992px){
    .language{
        width: 100% !important;
    }
}

@media (min-width: 1250px){
    .language{
        width: 75% !important;
    }
}

.language{
    width: 75%;
}

.resume-header-icon{
    position: absolute;
    transform: translate(-125%,0%);
}